In [93]:
import pandas as pd
import numpy as np
import re
import string

In [94]:
col_names = ['disease','symptoms']
c = pd.read_csv("few_more.csv",encoding="ISO-8859-1",names=col_names)

In [95]:
a = pd.read_csv("one-one_data.csv")

In [96]:
b = a.sort_values(by='disease')

In [97]:
b = b.apply(lambda x: x.astype(str).str.lower())

In [98]:
b = b.reset_index().drop(['index'],axis=1)

In [99]:
b['disease'].value_counts().head()

chlamydia                   12
major head injury           10
polymyalgia rheumatica       8
croup                        8
irritable bowel syndrome     8
Name: disease, dtype: int64

In [100]:
b.shape

(845, 2)

In [101]:
b.head()

                                  symptom      disease
0  burning pain in chest or upper abdomen    achalasia
1               food sticks on swallowing    achalasia
2         difficult or painful swallowing    achalasia
3  burning pain in chest or upper abdomen  acid reflux
4                         chest tightness  acid reflux

In [102]:
da = {'symptom':c['symptoms'] , 'disease': c['disease']}
d = pd.DataFrame(da)

In [103]:
d = d.apply(lambda x: x.astype(str).str.lower())

In [104]:
d.head()

               symptom               disease
0           pain chest  hypertensive disease
1  shortness of breath  hypertensive disease
2            dizziness  hypertensive disease
3             asthenia  hypertensive disease
4                 fall  hypertensive disease

In [109]:
e = pd.concat([b, d],sort=True)

In [110]:
e.head()

       disease                                 symptom
0    achalasia  burning pain in chest or upper abdomen
1    achalasia               food sticks on swallowing
2    achalasia         difficult or painful swallowing
3  acid reflux  burning pain in chest or upper abdomen
4  acid reflux                         chest tightness

In [113]:
def remove_non_ascii(text):
    return ''.join(i for i in text if ord(i)<128)
e['symptom'] = e['symptom'].apply(remove_non_ascii)
e['disease'] = e['disease'].apply(remove_non_ascii)

In [114]:
def makeDataset(dataset):
    combined_disease = dataset.groupby(['disease'])
    diseaseList = []
    symptomList = []
    for i in combined_disease:
        diseaseList.append(i[0])
        symptomList.append(i[1]['symptom'].values.tolist())
    new_data = {'disease':diseaseList,'symptom':symptomList}
    new_dataset = pd.DataFrame(new_data)
    return new_dataset

In [115]:
f = makeDataset(e)

In [116]:
f.shape

(367, 2)

In [118]:
f.to_csv('testing.csv',index=False)